<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/workbench/general/sleep32.png"
            visible="true">
         <run
               class="com.marbleArchPaint.softwareEngineering.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.marbleArchPaint.softwareEngineering.PosPerspective"
            id="com.marbleArchPaint.softwareEngineering.PosPerspective"
            name="POS">
      </perspective>
      <perspective
            class="com.marbleArchPaint.softwareEngineering.StockControlPerspective"
            id="com.marbleArchPaint.softwareEngineering.StockControlPerspective"
            name="Stock Control">
      </perspective>
      <perspective
            class="com.marbleArchPaint.softwareEngineering.Orders"
            id="com.marbleArchPaint.softwareEngineering.Orders"
            name="Orders">
      </perspective>
      <perspective
            class="com.marbleArchPaint.softwareEngineering.QuotationPerspective"
            id="com.marbleArchPaint.softwareEngineering.QuotationPerspective"
            name="Quotation">
      </perspective>
      <perspective
            class="com.marbleArchPaint.softwareEngineering.SearchPerspective"
            id="com.marbleArchPaint.softwareEngineering.SearchPerspective"
            name="Search">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.marbleArchPaint.softwareEngineering.views.Pos"
            id="com.marbleArchPaint.softwareEngineering.views.Pos"
            name="POS View"
            restorable="true">
      </view>
      <view
            class="com.marbleArchPaint.softwareEngineering.views.StockControlView"
            id="com.marbleArchPaint.softwareEngineering.views.StockControlView"
            name="Stock Control View"
            restorable="true">
      </view>
      <view
            class="com.marbleArchPaint.softwareEngineering.views.QuotationView"
            id="com.marbleArchPaint.softwareEngineering.views.QuotationView"
            name="Quotation View"
            restorable="true">
      </view>
      <view
            class="com.marbleArchPaint.softwareEngineering.views.qQuery"
            id="com.marbleArchPaint.softwareEngineering.Query"
            name="Search"
            restorable="true">
      </view>
      <view
            class="com.marbleArchPaint.softwareEngineering.views.Orders"
            id="com.marbleArchPaint.softwareEngineering.views.Orders"
            name="Orders"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.marbleArchPaint.softwareEngineering.PosPerspective">
         <view
               id="com.marbleArchPaint.softwareEngineering.views.Pos"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.marbleArchPaint.softwareEngineering.StockControlPerspective">
         <view
               id="com.marbleArchPaint.softwareEngineering.views.StockControlView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
         
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.marbleArchPaint.softwareEngineering.QuotationPerspective">
         <view
               id="com.marbleArchPaint.softwareEngineering.views.QuotationView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.marbleArchPaint.softwareEngineering.Orders">
         <view
               id="com.marbleArchPaint.softwareEngineering.views.Orders"
               minimized="false"
               ratio=".6"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio=".2"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="com.marbleArchPaint.softwareEngineering.SearchPerspective">
         <view
               id="com.marbleArchPaint.softwareEngineering.Query"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <separator
                  name="com.marbleArchPaint.softwareEngineering.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  icon="icons/workbench/general/exit.png"
                  label="&amp;Exit">
            </command>
         </menu>
         <menu
               label="&amp;Edit">
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  icon="icons/workbench/general/advanced.png"
                  label="&amp;Settings"
                  style="push">
            </command>
            <separator
                  name="com.marbleArchPaint.softwareEngineering.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  icon="icons/workbench/general/cnr-not_connected.png"
                  label="Reset Perspectives"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.helpContents"
                  label="&amp;Help"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.help.helpSearch"
                  label="&amp;Search"
                  style="push">
            </command>
            <separator
                  name="com.marbleArchPaint.softwareEngineering.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/workbench/general/utilities-system-monitor.png"
                  label="&amp;About marbleArchPaint"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="Perspectives"
               label="Perspectives">
            <dynamic
                  class="com.marbleArchPaint.softwareEngineering.PerspectiveSwitcherMenu"
                  id="perspectiveSwitcherMenu">
            </dynamic>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.marbleArchPaint.softwareEngineering.views.activities.openStartupPerspective"
            id="com.marbleArchPaint.softwareEngineering.views.activities.openStartupPerspective"
            name="openStartupPerspective">
      </command>
      <command
            defaultHandler="com.marbleArchPaint.softwareEngineering.views.activities.resetPerspectives"
            id="com.marbleArchPaint.softwareEngineering.views.activities.resetPerspectives"
            name="resetPerspectives">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="org.eclipse.ui.help.helpContents"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.marbleArchPaint.softwareEngineering.application"
            name="I BS Q - MarbleArchPaint">
         <property
               name="appName"
               value="I BS Q - MarbleArchPaint">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Marble Arch Paint based on Eclipse Platform&#x0A;&#x0A;Version: 0.1.1&#x0A;Build id: M20120327-1422&#x0A;&#x0A;Welcome to Marble Arch Paint based on Eclipse Rich Client Platform.&#x0A;&#x0A;This product is developed by Zainab_Huda&#x0A;(c) Copyright by authors. All rights reserved">
         </property>
         <property
               name="windowImages"
               value="/com.marbleArchPaint.softwareEngineering/icons/product/startup_16_32.png,/com.marbleArchPaint.softwareEngineering/icons/product/startup_32_32.png,/com.marbleArchPaint.softwareEngineering/icons/product/startup_48_32.png,/com.marbleArchPaint.softwareEngineering/icons/product/startup_64_32.png,/com.marbleArchPaint.softwareEngineering/icons/product/startup_128_32.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.marbleArchPaint.softwareEngineering.SessionSourceProvider">
         <variable
               name="com.marbleArchPaint.softwareEngineering.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.marbleArchPaint.softwareEngineering.application"
            name="I BS Q - MarbleArchPaint">
      </product>
   </extension>

</plugin>
